.watch {

    width: 200px;
    height: 130px;
    margin: 50px auto;
    background-color: rgba(240, 46, 170, 0.4);
    /* background: linear-gradient(155deg, rgba(240, 46, 170, 0.4) 50%, #7baced 50%); */
    border: 2px solid #000;
    border-radius: 50px;
    padding: 10px;
    perspective: 800px; /* Adjust perspective as needed */
    transform-style: preserve-3d;
    animation: rotate 10s infinite linear;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px -15px, rgba(240, 46, 170, 0.1) -20px -20px, rgba(240, 46, 170, 0.05) 25px -25px;
}

.time {
    font-size: 40px;
    font-weight: bold;
}

.datetime {
    font-size: 16px;
    margin-top: 10px;
}

.day {
    font-size: 10px;
}

.date {
    font-size: 10px;
    
}
.dd{
    margin-left: 50px;
}
.dvalue {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.dname {
    display: flex;
    justify-content: space-evenly;
}

.d {
    position: absolute;
    left: 26px;  
}
.ff{
    font-size: 30px;
}
.watch:before {
    transform: rotateY(90deg) translateZ(100px);
}

.watch:after {
    transform: rotateX(90deg) translateZ(100px);
}

@keyframes rotate {
    0% {
        transform: rotateY(20deg) rotateY(0deg);
    }
    25%{
        transform: rotateY(20deg) rotateY(70deg);
    }
    50% {
        transform: rotateY(20deg) rotateY(0deg);
    }
    75%{
        transform: rotateX(20deg) rotateY(90deg);
    }
    100%{
        transform: rotateX(20deg) rotateY(0deg);
    }
} 
.watch-inner{
    transform: translate(-50%, -50%);
}